__site/
_rss/
.DS_Store
franklin
franklin.pub
node_modules/
package.json
package-lock.json

Manifest.toml
_assets/og-image/
**/*.log
**/*.txt
tutorials/*.md
tutorials/**/*.html
**/_tmp_*.jl
**/*backup*.jl
