:root {
  --black: hsf(0, 0%, 5%);
  --background: hsl(0, 0%, 100%);
  --block-background: hsl(0, 0%, 96%);
  --output-background: hsl(0, 0%, 98%);
}

.docs-brand {
    margin-top: 0.5rem;
}

.docs-content > .container {
    margin-top: 0.9rem;
}

ul {
    list-style: disc;
}

.off-canvas .off-canvas-sidebar {
    width: 14rem !important;
}

.off-canvas-content {
    margin-top: 4rem;
}

.docs-sidebar .docs-nav {
    width: 14rem !important;
}

@font-face {
    font-family: JuliaMono-Regular;
    src: url("https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.042/JuliaMono-Regular.woff2");
}

pre {
    font-family: JuliaMono-Regular, SFMono-Regular, DejaVu Sans Mono;
}

code {
    font-family: JuliaMono-Regular, SFMono-Regular, DejaVu Sans Mono;
}

pre code {
    background: var(--block-background) !important;
    overflow: auto !important;
    border: 1px solid #dbdbdb;
    white-space: pre;
    word-wrap: normal;
}

th, td, tr {
    border-left: none !important;
    border-right: none !important;
    border: 1px solid #ddd;
}

th, td {
    padding: 0.4rem;
}

th {
    border: 1px solid lightgray;
}

table {
    border-collapse: collapse;
    line-height: 1.2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.context {
    color: var(--black);
}

h1 {
    margin-bottom: 3rem;
}

h2 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

#copyright {
    padding-top: 4rem;
    padding-left: 0px;
}

ol {
    list-style: decimal;
}
